h1{
    text-align: center;
    font-weight: lighter;
    
}
.nav-wrapper{
    background-color:#0c5e31;
}

#categories{
    border-right: solid black 1px;
    margin-top: 10px;
    font-size: 16px;
}

#search{
    border: solid darkslategrey 2px;
    text-align: center;
    margin: 50px;
    width: 500px;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.category {
    margin: 15px;
}

.bookIMG {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bookTitle {
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
}

.bookAuthor {
    text-align: center;
    font-style: italic;
    font-size: 15px;
}

footer{
    background-color: #0c5e31;
    height: 35px;
    text-align: center;
    font-weight: bolder;
}

@media screen and (max-width:980px) {
    h1{
      font-size: 32px;
    }
}

@media screen and (max-width:768px) {
    h1{
      font-size: 24px;
    }
}

@media screen and (max-width:640px) {
    h1{
        font-size: 20px;
    }
}

@media screen and (max-width:980px) {
    #search{
        width: 75%;
        display: block;
    }
}

@media screen and (max-width:768px) {
    #search{
      width: 50%;
      display: block;
    }
}

@media screen and (max-width:640px) {
    #search{
        width: 50%;
        display: block;
    }
}

